.nav-icon {
  display: none;
}

.site-nav-list {
  list-style: none;

  /* Flexbox */
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-evenly;
  gap: 3vw;
  margin-right: 1em;
}

.thumbnail-img {
  width: 30vw;
  height: auto;

  /* border-radius: 20%; */
  border: 1em solid rgb(0, 0, 0, 0);
}

.blog-articles {
  align-items: flex-start;
  justify-items: center;
}
