.show-nav {
  /* margin: 0.5em; */
  border-top: 0.2em solid white;
  border-bottom: 0.2em solid white;
  border-radius: 10%;
  display: grid;
  grid-template-columns: 1;
  align-items: center;
  justify-items: center;
}

.show-nav::before {
  /* content: "";
  position: absolute;
  left: 0.5em;
  top: 1em; */
  box-sizing: border-box;
  background-color: #fff;
  content: "";
  width: 1.5em;
  height: 0.2em;
  border-top: 0.1em solid white;
  border-bottom: 0.1em solid white;
}

.close-nav {
  display: inline-block;
  /* content: "\00d7"; */
  /* padding: 0.1em 0.2em; */
  background-color: white;
  color: black;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  display: none;
}

.show-nav,
.close-nav {
  height: 1.2em;
  width: 1.5em;
}
/* On target */
/* .site-nav::before {
  display: inline-block;
  content: "\00d7";
  background-color: white;
  color: black;
  font-size: 2em;
  height: 1em;
  width: 1em;
  text-align: center;
} */

.site-nav {
  background-color: rgba(0, 0, 0, 0);
  padding: 1em;
  position: fixed;
  top: 0;
  right: auto;
  width: auto;
  /* height: 100vh; */
  height: auto;

  transition: background 0.5s ease-in;
  animation: slide-out-nav 0.5s linear;
}

.nav-icon {
  z-index: 3;
  padding: 0.5em;
  margin-bottom: 5vh;
}

.site-nav-list {
  display: grid;
  grid-template-columns: 1;
  gap: 5vh;
  /* row-gap: 10%; */
  display: none;
}

.site-nav-list-link {
  display: block;
  padding: 5% 0;
}

.site-nav-list-link:hover,
.site-nav-list-link:active {
  background-color: #fff;
  color: #000;
  border: 0;
}

.site-nav:hover .nav-icon {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5em;
}

#site-nav:target {
  /* z-index: 3; */
  display: block;
  min-width: 30%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  transition: background 0.5s ease-in;

  animation: slide-in-nav 0.5s linear;
}

#site-nav:target .show-nav {
  display: none;
}

#site-nav:target .close-nav {
  display: inline-block;
}

#site-nav:target .site-nav-list {
  display: grid;
}

#nav-icon:target .close-nav {
  display: none;
}

#nav-icon:target .show-nav {
  display: grid;
}

@keyframes slide-in-nav {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slide-out-nav {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Pages CSS */

/* INDEX */
.profile-greeting {
  grid-column: 1 / -1;
}

/* BLOG */
.blog-article-thumbnail {
  grid-column: 1/-1;
  width: 70vw;
  height: auto;
  margin: 0 auto;
}

.thumbnail-link {
  display: block;
}

/* thumbnails */
.thumbnail-img {
  width: 100%;
  height: auto;
  /* border-radius: 20%; */
  border: 1em solid rgb(0, 0, 0, 0);
}
.thumbnail-overlay {
  transition: 0.5s;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(75, 75, 75, 0.6);
}

/* PORTFOLIO THUMBNAIL */
.website-thumbnail {
  grid-column: 1/-1;
  width: 70vw;
  height: auto;
  margin: 0 auto;
}

/* SHOOTING STAR ANIMATION */
body:hover .shooting-star:nth-child(1) {
  /* animation: tail 20s infinite ease-in-out; */
  animation: shooting-star1 7s infinite ease-in;
}
body:hover .shooting-star:nth-child(2) {
  animation: shooting-star2 6s infinite linear;
}
body:hover .shooting-star:nth-child(3) {
  animation: shooting-star3 4s infinite linear;
}
body:hover .shooting-star:nth-child(4) {
  animation: shooting-star4 5s infinite linear;
}
body:hover .shooting-star:nth-child(5) {
  animation: shooting-star5 6s infinite linear;
}
body:hover .shooting-star:nth-child(6) {
  animation: shooting-star6 4s infinite linear;
}
body:hover .shooting-star:nth-child(7) {
  animation: shooting-star7 3s infinite linear;
}
body:hover .shooting-star:nth-child(8) {
  animation: shooting-star8 6s infinite linear;
}
body:hover .shooting-star:nth-child(9) {
  animation: shooting-star9 7s infinite linear;
}
body:hover .shooting-star:nth-child(10) {
  animation: shooting-star7 4s infinite linear;
}
